.fullName-container label {
    position: absolute;
    left: 20px;
    top: 10px;
}

.nameSpan {
    font-size: 100px;
    line-height: 120px;
}

#nameInput {
    height: 100%;
    font-size: 100px;
    width: 900px;
    padding: 0px;
    line-height: 0px;
}

.submitBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    box-shadow: 3px 3px 5px #888888;
    color: #fff;
    border: none;
    background: #b4ddb4; /* Old browsers */
    background: -moz-linear-gradient(top,  #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00), color-stop(83%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
}

.submitBtn:focus {
    color: white;
}

.container {
    position: relative;
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid black;
}

.fullName-container {
    padding: 10px 0 10px 70px;
}